<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find ar_tag)/worlds/ar_tag.world"/> -->
    <!-- more default parameters can be changed here -->
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find models)/ar_tag.urdf -urdf -z 1 -model ar_tag" />
</launch>